*{
margin: 0;
font-family: Arial;
border: border-box;

}
.bar{
    height: 60px;
    background-color: #131921;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
 height: 50px;
 width: 113px;
}
.logo{
 background-image: url("amazon_logo.png");
 background-size: cover;
 height:50px;
 width:100%;
}
.border{
 border:2px solid transparent;
}
.border:hover{
 border:1.5px solid white;
}
/**box2**/
.add1{
color:#cccccc;
font-size: 0.35 rem;
margin-left:15px;
}
.add2{
font-size: 0.85rem;
margin-left: 3px;
}
.navaddress{
display: flex;
align-items: center;
}
.navloction{
    margin-left:5px;
}

/**box3**/
.nav-search{
    display: flex;
    width: 1000px;
    height: 40px;
    justify-content: space-evenly;
}
.navselect{
    color: #0f1111;
    background-color: #f3f3f3;
    width: 52px;
    height: 40px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border:none;
}
.navinput{
    border: none;
    width: 100%;
    height: 38px;
    font-size: 1rem;
}
.search-icon{
   width: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   background-color: #Febd68;
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
   color:#131921;
}
.nav-search:hover{
    border:2px solid orange;
}
/**box4**/
span{
    font-size: 0.7rem;
}
.nav-secound{
    font-size: 0.95rem;
    font-weight: 700;
}
.nav-sec{
    font-size: 0.95rem;
    font-weight: 700;
    
}
.flag{
    font-size:1rem;
    font-weight: 700;
}
/**box5**/
.cart-bar i{
    font-size:30px;
}
.cart-bar{
    font-size: 0.95rem;
    font-weight: 700;
}
/**panel**/
.panel{
height: 40px;
background-color: #222f3d;
display: flex;
color: white;
align-items: center;
justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.shopgreat{
    font-weight: 700;
    font-size: 0.9rem;
}
/**herosec**/
.herosec{
background-image: url("hero.jpg");
background-size: cover;
height: 600px;
width: 1500px;
margin-left:150px;

}
.shopsection{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
.box{
     border: 3px solid seashell;
  height:400px;
    width: 20%;
    position: relative;
    top:290px;
    background-color: white;
    padding:20px 12px 15px; 
}

.toys{
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-bottom: 6px;
}
.box2 p{
    color:#007185;
    padding-bottom: 15px;
}
.clear{
    clear: both;
}
.footer1{
    height: 50px;
    background-color: #37475a;
    position:relative;
    top:600px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.footer2{
    position: relative;
    top:600px;
    height: 350px;
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.footer2 a {
    display: block;
    font-size: 0.85rem;
    color:#dddddd;
    margin-top: 12px;
}
.footer2 h3{
    margin-top: 50px ;
}
.footer3{
 background-color:#232F3E ;
height:80px;
position: relative;
top: 600px;
border-top:0.5px solid #dddddd;
display: flex;
justify-content: center;
align-items: center;
}
.logo1{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100px;
}
.flag1{
    color: #dddddd;
    font-size: 0.85rem;
    border: 1px solid #dddddd;
margin-left: 10px;
padding: 6px;
}
.us{
    color:#dddd;
    border: 1px solid #dddddd;
    font-size: 0.85rem;
    margin-left:30px;
    padding: 7px;
}
.footer4{
    
        background-color:black ;
       height:80px;
       position: relative;
       top: 600px;
       /**border-top:0.5px solid #dddddd;
       /**display: flex;
       justify-content: center;**/
       align-items: center; 
       color:#dddddd;
      } 
  .px{
    font-size:0.75rem;
    text-align: center;
    padding-top: 10px;
    margin-left: 20px;
  }
  .foot{
    font-size: 0.75rem;
    text-align: center;
    padding-top: 10px;
  }
  .px a {
    margin-left: 20px;
  }